


    ion-toolbar{
        --background:#3880ff;
        
        ion-title{
            height: 150px;    

            img{
                border-radius:15px;
                left: 0;
                right:0 ;
                height: 50px;
                margin:auto;
                position: absolute;
                top: 5px ;
    
            }

        }
        
       
    }    
    
